body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: black;
    scroll-behavior: smooth;
    background-color: #dde1e7;
}

h1 {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 300%;
    text-shadow: 0 1px 3px rgba(168, 1, 1, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: block;
}

.info {
    line-height: 2;
    padding: 30px 0;
    font-size: 20px;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*navigation bubble */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: black;
}

.fp-slidesNav.fp-bottom ul {
    text-align: center;
    position: relative;
    bottom: 85px;
}

/* navigation bar */
nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.9;
}

.nav div {
    float: left;
}

.nav div a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    transition: 1s;
}

.nav div a:hover {
    color: white;
    text-decoration: none !important;
    font-weight: 400;
}

/* overwrite Bootsrap btn */
.circle-btn:focus,
.circle-btn:active:focus,
.circle-btn.active:focus,
.circle-btn.focus,
.circle-btn:active.focus,
.circle-btn.active.focus {
    outline: none;
    box-shadow: none;
}

/* Animation */
.zoom-on-hover {
    transition: transform 0.5s;
    cursor: pointer;
}

.zoom-on-hover:hover {
    transform: scale(1.2);
}

/* NEUMORPHISM */
.neumorphism-1 {
    /* background: #dde1e7; */
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

textarea {
    margin-right: 14px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px white !important;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    border-radius: 250px;
}

.neumorphism-2 {
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffffb0,
        inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

/* Mobile */

@media only screen and (max-width: 1500px) {
    h1 {
        margin-top: 1%;
    }
}

@media only screen and (max-width: 950px) {
    .fp-controlArrow {
        display: none;
        opacity: 0;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 250%;
        margin-top: 15%;
    }
}
