.contact-card {
    text-align: left;
    display: block;
    margin: 25px auto;
    width: 35%;
    min-width: 300px;
    max-width: 400px;
    transition: 0.7s;
    cursor: pointer;
}

.contact-card:active {
    font-weight: bold;
}

.contact-card:hover {
    color: white;
    background: black;
}

.contact-holder {
    margin: auto;
    width: 80%;
}

a {
    color: black;
}

@media only screen and (max-width: 1000px) {
    .contact-card {
        margin: 30px;
    }

    .contact-holder {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .contact-holder {
        margin-top: 10%;
    }
}
