.card {
    margin: auto;
    text-align: left;
    width: 80%;
    max-width: 650px;
    background-color: #dde1e7;
}

.card img {
    height: 55%;
}

a {
    margin: 5px;
}

/* SLIDE ANIMATION */

@keyframes slideyThing {
    from {
        background-position: 500px;
    }
    to {
        background-position: -500px;
    }
}

.gradient {
    width: 500px;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(90deg, #222, white, #222);
    opacity: 0.8;
    color: transparent;
    -webkit-background-clip: text;
    animation: slideyThing 5s infinite linear;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .card img {
        height: 50%;
    }

    .gradient {
        width: 350px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .card img {
        height: 45%;
    }
}

@media only screen and (max-width: 400px) {
    .card img {
        height: 38%;
    }
}
